{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">SUAP - Perfil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="navbar-brand nav-link active text-light" aria-current="page" href="{{url_for('index')}}">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand text-light" type="button" href="{{url_for('logout')}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row container p-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded-3" id="imageToToggle" src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto">
                <button class="btn btn-muted mt-2" id="toggleButton">Ocultar Imagem</button>
                <h3>{% block title %} {{ user_data['nome_usual'] }} {% endblock %}</h3>
                <table class="table table-striped">
                    <tbody>
                        {% for field, value in user_data.items() %}
                            <tr>
                                <th scope="row">{{ field }}</th>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h4>Boletins</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><a class="text-dark" href="{{ url_for('boletim', ano=2020) }}">Período 1</a></td>
                                <td><a class="text-dark" href="{{ url_for('boletim', ano=2021) }}">Período 2</a></td>
                                <td><a class="text-dark" href="{{ url_for('boletim', ano=2022) }}">Período 3</a></td>
                                <td><a class="text-dark" href="{{ url_for('boletim', ano=2023) }}">Período 4</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Disciplina</th>
                                <th scope="col">Nota Etapa 1</th>
                                <th scope="col">Nota Etapa 2</th>
                                <th scope="col">Nota Etapa 3</th>
                                <th scope="col">Nota Etapa 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disciplina in boletim_data %}
                                <tr>
                                    <th scope="row">{{ disciplina['disciplina'] }}</th>
                                    <td>{{ disciplina['nota_etapa_1']['nota'] }}</td>
                                    <td>{{ disciplina['nota_etapa_2']['nota'] }}</td>
                                    <td>{{ disciplina['nota_etapa_3']['nota'] }}</td>
                                    <td>{{ disciplina['nota_etapa_4']['nota'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}